{
  "root": true,
  "extends": "eslint:recommended",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "rules": {
    "array-bracket-spacing": [
      "error",
      "always",
      {
        "arraysInArrays": false
      }
    ],
    "arrow-body-style": ["error", "as-needed"],
    "arrow-parens": [
      "error",
      "as-needed",
      {
        "requireForBlockBody": true
      }
    ],
    "arrow-spacing": "error",
    "block-spacing": "error",
    "brace-style": "error",
    "comma-dangle": ["error", "always-multiline"],
    "comma-spacing": "error",
    "indent": ["error", 2],
    "jsx-quotes": ["error", "prefer-double"],
    "key-spacing": [
      "error",
      {
        "mode": "strict"
      }
    ],
    "keyword-spacing": "error",
    "lines-between-class-members": ["error", "always"],
    "max-statements-per-line": [
      "error",
      {
        "max": 1
      }
    ],
    "multiline-comment-style": ["error", "separate-lines"],
    "newline-per-chained-call": [
      "error",
      {
        "ignoreChainWithDepth": 2
      }
    ],
    "no-multi-assign": "error",
    "no-multi-spaces": "error",
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1
      }
    ],
    "no-unneeded-ternary": "error",
    "no-useless-rename": "error",
    "no-var": ["error"],
    "object-curly-spacing": ["error", "always"],
    "object-shorthand": [
      "error",
      "always",
      {
        "avoidQuotes": true
      }
    ],
    "one-var": ["error", "never"],
    "prefer-const": "error",
    "prefer-destructuring": [
      "error",
      {
        "array": true,
        "object": true
      },
      {
        "enforceForRenamedProperties": true
      }
    ],
    "prefer-template": "error",
    "quotes": [
      "error",
      "double",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "semi": ["error", "never"],
    "sort-imports": [
      "error",
      {
        "ignoreCase": true,
        "ignoreDeclarationSort": false,
        "ignoreMemberSort": false,
        "memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
      }
    ],
    "space-before-blocks": "error",
    "space-before-function-paren": "error",
    "space-in-parens": ["error", "never"],
    "spaced-comment": ["error", "always"],
    "template-curly-spacing": "error"
  }
}
